* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

input,
select,
button {
    font-family: inherit;
    color: inherit;
}

fieldset {
    border: none;
}