@use 'sass:map';
@use './variables' as v;

@mixin flex ($justifyContent: center, $alignItems: center, $gap: null, $flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
    box-sizing: border-box;
}

@mixin container($max: v.$containerWidth, $gutter: v.$gutterWidth) {
    margin: 0 auto;
    max-width: $max;
    padding-inline: $gutter;
}