@use 'sass:map';
@use './function' as *;
@use './variables' as v;

@mixin flex ($justifyContent: center, $alignItems: center, $gap: null, $flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
    box-sizing: border-box;
}

@mixin container($max: v.$containerWidth, $gutter: v.$gutterWidth) {
    margin: 0 auto;
    max-width: $max;
    padding-inline: $gutter;
}



//desc폰트

@mixin lh($value: v.$lh-desc) {
    line-height: $value;
}

@mixin desc-font($family: v.$font-desc, $lh: v.$lh-desc) {
    font-family: $family;
    line-height: $lh;
}


// title 사이즈 굵기
@mixin title-des {
    font-size: v.$titleSize-des;
    font-weight: v.$titleWeight;
    padding-bottom: rem(5);
}

@mixin title-pc {
    font-size: v.$titleSize-pc;
    font-weight: v.$titleWeight;
}

@mixin title-lap {
    font-size: v.$titleSize-lap;
    font-weight: v.$titleWeight;
}

@mixin title-tab {
    font-size: v.$titleSize-tab;
    font-weight: v.$titleWeight;
}

@mixin title-mob {
    font-size: v.$titleSize-mob;
    font-weight: v.$titleWeight;
    padding-bottom: 0;
}

//sub
@mixin subTitle-des {
    font-family: v.$font-desc;
    font-size: v.$subTitle-des;
    font-weight: v.$subTitleWeight;
}

@mixin subTitle-pc {
    font-family: v.$font-desc;
    font-size: v.$subTitle-pc;
    font-weight: v.$subTitleWeight;
}

@mixin subTitle-lap {
    font-family: v.$font-desc;
    font-size: v.$subTitle-lap;
    font-weight: v.$subTitleWeight;
}

@mixin subTitle-tab {
    font-family: v.$font-desc;
    font-size: v.$subTitle-tab;
    font-weight: v.$subTitleWeight;
}

@mixin subTitle-mob {
    font-family: v.$font-desc;
    font-size: v.$subTitle-mob;
    font-weight: v.$subTitleWeight;
}




//eyebrow

@mixin eyebrow {
    font-size: v.$eyebrowSize-des;
    font-weight: v.$eyebrowWei;
    letter-spacing: 0.2em;
    color: v.$primaryColor;
    padding-bottom: rem(8);



    @media (max-width: v.$pc) {
        font-size: v.$eyebrowSize-pc;
        padding-bottom: rem(8);
    }


    @media (max-width: v.$laptop) {
        font-size: v.$eyebrowSize-lap;
        padding-bottom: rem(6);
    }

    @media (max-width: v.$tablet) {
        font-size: v.$eyebrowSize-tab;
        padding-bottom: rem(6);
    }

    @media (max-width: v.$mobile) {
        font-size: v.$eyebrowSize-mob;
        padding-bottom: rem(5);
    }
}