@use 'sass:map';
@use './variables' as v;

@mixin flex ($justifyContent: center, $alignItems: center, $gap: null, $flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
    box-sizing: border-box;
}

@mixin container($max: v.$containerWidth, $gutter: v.$gutterWidth) {
    margin: 0 auto;
    max-width: $max;
    padding-inline: $gutter;
}



//desc폰트

@mixin lh($value: v.$lh-desc) {
    line-height: $value;
}

@mixin desc-font($family: v.$font-desc, $lh: v.$lh-desc) {
    font-family: $family;
    line-height: $lh;
}