@use './function' as *;
@use 'sass:math';

//컬러 변수
$primaryColor: #2463E0;
$whiteColor: #fff;
$blackColor : #000;
$surfaceAltColor :#F4F6FC;
$capsuleColor : #FF6F5E;

//폰트
$font-main: 'GMarketSans', system-ui, -apple-system, sans-serif;
$font-desc: 'Pretendard', system-ui, -apple-system, sans-serif;


// breakpoint
$pc : 1280px;
$laptop : 1024px;
$tablet : 768px;
$mobile : 480px;



//container
$containerWidth : 1420px;
$gutterWidth: 20px;



//섹션 패딩
$sp-d: rem(120);
$sp-p: rem(100);
$sp-l: rem(80);
$sp-t: rem(60);
$sp-m: rem(40);


//타이틀-바디 사이 간격
$secGap-des :rem(60);
$secGap-pc :rem(50);
$secGap-lap :rem(40);
$secGap-tab :rem(30);
$secGap-mob :rem(20);


//타이틀 크기,굵기
$titleWeight : 700;

$titleSize-des : rem(34);
$titleSize-pc : rem(28);
$titleSize-lap : rem(24);
$titleSize-tab : rem(20);
$titleSize-mob : rem(20);

//sub
$subTitleWeight : 500;

$subTitle-des : rem(20);
$subTitle-pc : rem(20);
$subTitle-lap : rem(18);
$subTitle-tab : rem(16);
$subTitle-mob : rem(12);





//line heigth
$lh-desc :1.5;
// $lh-pc :1.4;
// $lh-lap :1.3;
// $lh-tab :1.2;
// $lh-mob :1.1;




//header
$headerHeight-des: rem(80);
$headerHeight-pc: rem(70);
$headerHeight-laptop: rem(68);
$headerHeight-tablet: rem(65);
$headerHeight-mobile: rem(48);



//logo
$logoSize-desktop: rem(32);
$logoSize-pc: rem(30);
$logoSize-laptop: rem(28);
$logoSize-tablet: rem(26);
$logoSize-mobile: rem(18);


//menu
$menuFontSize-des: rem(18);
$menuFontSize-pc: rem(16);
$menuFontSize-lap: rem(20);
$menuFontSize-tab: rem(18);
$menuFontSize-mob: rem(16);


$navGap: 0 rem(35);




//hamburger-btn
$ham-laptop : rem(35);
$ham-tablet : rem(32);
$ham-mobile : rem(20);


//close-btn
$close-btn : rem(20);
$clo-laptop: $ham-laptop;
$clo-pt: rem(15);
$closeTop-laptop: math.div($headerHeight-laptop - $ham-laptop, 2);
$closeTop-tablet: math.div($headerHeight-tablet - $ham-tablet, 2);
$closeTop-mobile: math.div($headerHeight-mobile - $ham-mobile, 2);





//hero
$heroH-des: rem(780);
$heroH-pc :rem(650);
$heroH-lap :rem(560);
$heroH-tab :rem(410);
$heroH-mob :rem(260);


$heroTitle-des : rem(40);
$heroTitle-pc : rem(38);
$heroTitle-lap : rem(34);
$heroTitle-tab : rem(30);
$heroTitle-mob : rem(20);


$heroDesc-des : rem(22);
$heroDesc-pc : rem(20);
$heroDesc-lap : rem(18);
$heroDesc-tab : rem(16);
$heroDesc-mob : rem(8);

$arrow-des : rem(410);
$arrow-pc : rem(300);
$arrow-lap : rem(250);
$arrow-tab : rem(200);
$arrow-mob : rem(100);


//button

$btnRadius: rem(50);

$btnH-des: rem(46);
$btnPadX-des: rem(42);
$btnFont-des: rem(18);

$btnH-pc: rem(44);
$btnPadX-pc: rem(40);
$btnFont-pc: rem(16);

$btnH-lap: rem(40);
$btnPadX-lap: rem(38);
$btnFont-lap: rem(14);

$btnH-tab: rem(36);
$btnPadX-tab: rem(34);
$btnFont-tab: rem(12);

$btnH-mob: rem(26);
$btnPadX-mob: rem(24);
$btnFont-mob: rem(12);



//히어로 패딩
$heroTxtPad-des: rem(25);
$heroTxtPad-pc: rem(20);
$heroTxtPad-lap: rem(15);
$heroTxtPad-tab: rem(10);
$heroTxtPad-mob: rem(8);


$heroDescPad-des: rem(60);
$heroDescPad-pc: rem(50);
$heroDescPad-lap: rem(40);
$heroDescPad-tab: rem(30);
$heroDescPad-mob: rem(20);


//intro



//new-section

// 카드높이
$newCardH-des: rem(480);
$newCardH-pc: rem(460);
$newCardH-lap: rem(430);
$newCardH-tab: rem(300);
$newCardH-mob: rem(200);


// 카드 이미지 높이
$cardImg-des: rem(390);
$cardImg-pc: rem(370);
$cardImg-lap: rem(350);
$cardImg-tab: rem(240);
$cardImg-mob: rem(160);





//pick 이미지
$pickImgWidth-des: rem(675);
$pickImgWidth-pc: rem(580);
$pickImgWidth-lap: rem(480);
$pickImgWidth-tab: rem(356);
$pickImgWidth-mob: rem(440);

//pick, about 카드 간격
$cardGap-des : rem(40);
$cardGap-pc : rem(30);
$cardGap-lap : rem(25);
$cardGap-tab : rem(15);
$cardGap-mob : rem(20);



//pick 스타일

$styleCardH-des : rem(450);
$styleCardH-pc : rem(380);
$styleCardH-lap : rem(320);
$styleCardH-tab : rem(300);
$styleCardH-mob : rem(200);





//news-section

// 카드높이
$newsCardH-des: rem(450);
$newsCardH-pc: rem(400);
$newsCardH-lap: rem(360);
$newsCardH-tab: rem(300);
$newsCardH-mob: rem(250);


// 카드 이미지 높이
$newsImg-des: rem(340);
$newsImg-pc: rem(300);
$newsImg-lap: rem(260);
$newsImg-tab: rem(220);
$newsImg-mob: rem(180);






//fartner-section 
$kicker-des: rem(24);
$kicker-pc: rem(20);
$kicker-lap: rem(18);
$kicker-tab: rem(14);
$kicker-mob: rem(8);


$partnerTitle-des: rem(46);
$partnerTitle-pc: rem(40);
$partnerTitle-lap: rem(30);
$partnerTitle-tab: rem(24);
$partnerTitle-mob: rem(16);





//footer
$infoSize-des : rem(16);
$infoSize-pc : rem(14);
$infoSize-lap : rem(12);
$infoSize-tab : rem(10);
$infoSize-mob : rem(8);


//푸터 패딩
$fp-d: rem(100);
$fp-p: rem(80);
$fp-l: rem(60);
$fp-t: rem(40);
$fp-m: rem(30);