@use './function' as *;
@use 'sass:math';

//컬러 변수
$primaryColor: #2463E0;
$whiteColor: #fff;
$blackColor : #000;
$surfaceAltColor :#F4F6FC;
$capsuleColor : #FF6F5E;


// breakpoint
$pc : 1280px;
$laptop : 1024px;
$tablet : 768px;
$mobile : 360px;

//container
$containerWidth : 1420px;
$gutterWidth: 20px;

//섹션 패딩
$sp-d: rem(140);
$sp-p: rem(100);
$sp-l: rem(80);
$sp-t: rem(60);
$sp-m: rem(40);



//header
$headerHeight-des: rem(80);
$headerHeight-pc: rem(70);
$headerHeight-laptop: rem(68);
$headerHeight-tablet: rem(65);
$headerHeight-mobile: rem(40);
$headerZ: 1000;


//logo
$logoSize-desktop: rem(34);
$logoSize-pc: rem(32);
$logoSize-laptop: rem(30);
$logoSize-tablet: rem(28);
$logoSize-mobile: rem(24);


//menu
$menuFontSize-des: rem(22);
$menuFontSize-pc: rem(20);
$menuFontSize-lap: rem(20);
$menuFontSize-tab: rem(20);
$menuFontSize-mob: rem(16);



$navFontWeight: 500;
$navGap: 0 rem(35);
$navHoverColor : $primaryColor;
$navTextHoverColor: $whiteColor;
$menuGapY-laptop: rem(60);
$menuGapY-tablet: rem(16);
$menuGapY-mobile: rem(14);


//hamburger-btn
$ham-laptop : rem(35);
$ham-tablet : rem(32);
$ham-mobile : rem(20);


//close-btn
$close-btn : rem(20);
$clo-laptop: $ham-laptop;
$clo-pt: rem(15);
$closeTop-laptop: math.div($headerHeight-laptop - $ham-laptop, 2);
$closeTop-tablet: math.div($headerHeight-tablet - $ham-tablet, 2);
$closeTop-mobile: math.div($headerHeight-mobile - $ham-mobile, 2);


// 패널 너비
$panelWidth-laptop: rem(360);
$panelWidth-tablet: rem(320);
$panelWidth-mobile: rem(280);
$headerPR : rem(20);


//hero
$heroH-des: rem(780);
$heroH-pc :rem(650);
$heroH-lap :rem(560);
$heroH-tab :rem(410);
$heroH-mob :rem(200);


$heroTitle-des : rem(48);
$heroTitle-pc : rem(42);
$heroTitle-lap : rem(38);
$heroTitle-tab : rem(32);
$heroTitle-mob : rem(20);


$heroDessc-des : rem(26);
$heroDessc-pc : rem(22);
$heroDessc-lap : rem(18);
$heroDessc-tab : rem(16);
$heroDessc-mob : rem(14);