/* 1) Utils */
@use 'utils/variables' as *;
@use 'utils/mixin';
@use 'utils/responsive';
@use 'utils/function';

/* 2) Base (리셋/공통/폰트) */
@use 'base/reset';
@use 'base/typography';
@use 'base/common';

/* 3) Layout */
@use 'layout/container';
@use 'layout/header';
@use 'layout/footer';

/* 4) Components */
@use 'components/button';
@use 'components/card';
@use 'components/field';

/* 5) Pages */
@use 'pages/home';
@use 'pages/about';
@use 'pages/collections';
@use 'pages/apply';
@use 'pages/news';