@use '../utils/variables' as v;
@use '../utils/mixin' as m;
@use '../utils/function' as *;



.new-card {
    height: v.$newCardH-des;
    background-color: v.$whiteColor;
    border-radius: rem(20);
    overflow: hidden;

    &__thumb {
        position: relative;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            height: v.$cardImg-des;
            object-fit: cover;
            object-position: center;
            transition: transform 0.4s ease;
        }
    }

    &:hover &__thumb img {
        transform: scale(1.05);
    }

    // New 캡슐
    &__capsule {
        position: absolute;
        top: rem(20);
        left: rem(20);
        padding: rem(5) rem(27);
        border-radius: rem(50);
        background-color: #FF7A45;
        color: v.$whiteColor;
        box-shadow: 0 rem(3) rem(8) rgba(0, 0, 0, 0.18);
        font-size: rem(16);
        font-weight: 500;
        z-index: 2;
    }

    &__info {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: rem(20) rem(20);
        color: v.$whiteColor;


        &__title {
            font-size: rem(28);
            font-weight: 700;
        }


        &__desc {
            font-size: rem(18);
            font-family: v.$font-desc;
            font-weight: 400;
        }
    }


    &__meta {
        height: rem(80);
        padding: rem(20) rem(25);


        &__place {
            font-size: rem(20);
        }


        &__date {
            font-size: rem(16);
            color: #616161;
        }
    }

}



//1280
@media (max-width : v.$pc) {

    .new-card {
        height: v.$newCardH-pc;


        &__thumb {



            img {

                height: v.$cardImg-pc;

            }
        }



        // New 캡슐
        &__capsule {
            top: rem(18);
            left: rem(18);
            padding: rem(5) rem(24);
            font-size: rem(14);

        }

        &__info {
            padding: rem(18) rem(18);


            &__title {
                font-size: rem(24);

            }


            &__desc {
                font-size: rem(16);


            }
        }


        &__meta {
            height: rem(80);
            padding: rem(20) rem(18);


            &__place {
                font-size: rem(18);
            }


            &__date {
                font-size: rem(14);
            }
        }

    }
}




//1024
@media (max-width : v.$laptop) {

    .new-card {
        height: v.$newCardH-lap;


        &__thumb {


            img {

                height: v.$cardImg-lap;

            }
        }



        // New 캡슐
        &__capsule {
            font-size: rem(12);
        }

        &__info {
            padding: rem(18) rem(18);


            &__title {
                font-size: rem(20);

            }


            &__desc {
                font-size: rem(14);

            }
        }


        &__meta {
            height: rem(80);
            padding: rem(15) rem(18);


            &__place {
                font-size: rem(16);
            }


            &__date {
                font-size: rem(12);
            }
        }

    }
}






//768
@media (max-width : v.$tablet) {

    .new-card {
        height: v.$newCardH-tab;


        &__thumb {


            img {

                height: v.$cardImg-tab;

            }
        }



        // New 캡슐
        &__capsule {
            font-size: rem(10);
        }

        &__info {
            padding: rem(14) rem(14);


            &__title {
                font-size: rem(18);

            }


            &__desc {
                font-size: rem(12);

            }
        }


        &__meta {
            height: rem(50);
            padding: rem(8) rem(14);


            &__place {
                font-size: rem(14);
            }


            &__date {
                font-size: rem(10);
            }
        }

    }
}



//480
@media (max-width : v.$mobile) {

    .new-card {
        height: v.$newCardH-mob;
        border-radius: rem(10);


        &__thumb {


            img {

                height: v.$cardImg-mob;

            }
        }



        // New 캡슐
        &__capsule {
            font-size: rem(8);
            top: rem(15);
            left: rem(15);
            padding: rem(5) rem(20);
        }

        &__info {
            padding: rem(10) rem(10);


            &__title {
                font-size: rem(12);

            }


            &__desc {
                font-size: rem(8);

            }
        }


        &__meta {
            height: rem(40);
            padding: rem(8) rem(10);


            &__place {
                font-size: rem(10);
            }


            &__date {
                font-size: rem(8);
            }
        }

    }
}