@use '../utils/mixin' as m;

@use '../utils/variables' as v;


.container {
    @include m.container(v.$containerWidth);


}

// @media (min-width: v.$pc) {

//     // v.$pc = 1280px
//     .container {
//         padding-inline: rem(80); // 양옆 80px (원하면 72, 64 이런 식으로 조절)
//     }
// }