@use '../utils/variables' as v;
@use '../utils/mixin' as m;
@use '../utils/function' as *;


.footer {
    font-family: v.$font-desc;
    padding: v.$fp-d 0;
}

.footer-dark {
    background: v.$blackColor;
    color: v.$whiteColor;
}

.footer-light {
    background: v.$whiteColor;
    color: v.$blackColor;
}


.footer-wrap {
    padding: rem(40) rem(20) 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: rem(20);
    right: rem(20);
    height: 1px;
    background-color: #fff;
}


.footer-logo {
    font-size: v.$logoSize-desktop;
    padding-bottom: rem(40);
}


.footer-info {
    font-size: v.$infoSize-des;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: rem(15);
}

.footer-links {
    display: flex;
    gap: rem(30);


}

.footer-links a {
    color: #b3b3b3;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #b3b3b3;
    transition: color .2s ease, text-decoration-color .2s ease;
}

.footer-links li :hover {
    color: v.$primaryColor;
    text-decoration-color: v.$primaryColor;
}


.footer-sns {
    display: flex;
    gap: rem(10);

}










//1280
@media (max-width:v.$pc) {

    .footer {
        padding: v.$fp-p 0;
    }



    .footer-wrap {
        padding: rem(35) rem(20) 0;
    }

    .footer-logo {
        font-size: v.$logoSize-pc;
        padding-bottom: rem(35);
    }


    .footer-info {
        font-size: v.$infoSize-pc;
        gap: rem(12);
    }

    .footer-links {
        gap: rem(25);
    }



    .footer-sns {
        gap: rem(10);

    }


    .footer-sns img {
        width: rem(38);
    }
}






//1024
@media (max-width:v.$laptop) {

    .footer {
        padding: v.$fp-l 0;
    }



    .footer-wrap {
        padding: rem(30) rem(20) 0;
    }

    .footer-logo {
        font-size: v.$logoSize-laptop;
        padding-bottom: rem(30);
    }


    .footer-info {
        font-size: v.$infoSize-lap;
        gap: rem(12);
    }

    .footer-links {
        gap: rem(25);
    }



    .footer-sns {
        gap: rem(8);

    }


    .footer-sns img {
        width: rem(34);
    }
}














//768
@media (max-width:v.$tablet) {

    .footer {
        padding: v.$fp-t 0;
    }



    .footer-wrap {
        padding: rem(25) rem(20) 0;
    }

    .footer-logo {
        font-size: v.$logoSize-tablet;
        padding-bottom: rem(25);
    }


    .footer-info {
        font-size: v.$infoSize-tab;
        gap: rem(12);
    }

    .footer-links {
        gap: rem(25);
    }



    .footer-sns {
        gap: rem(8);

    }


    .footer-sns img {
        width: rem(30);
    }
}














//480
@media (max-width:v.$mobile) {

    .footer {
        padding: v.$fp-m 0;
    }



    .footer-wrap {
        padding: rem(20) rem(20) 0;
    }

    .footer-logo {
        font-size: v.$logoSize-mobile;
        padding-bottom: rem(20);
    }


    .footer-info {
        font-size: v.$infoSize-mob;
        gap: rem(10);
    }

    .footer-links {
        gap: rem(20);
    }



    .footer-sns {
        gap: rem(8);

    }


    .footer-sns img {
        width: rem(25);
    }
}