@use '../utils/function' as *;
@use '../utils/variables' as v;
@use '../utils/mixin' as m;

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: v.$headerHeight-des;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(16px);
    transition: background-color .25s ease,
        backdrop-filter .25s ease,
        border-color .25s ease;


    &__logo {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__logo a {
        margin: 0;
        color: v.$primaryColor;
        font-size: v.$logoSize-desktop;


    }

    &__nav {
        @include m.flex(space-between, center);
        height: 100%;
    }

    &__menu {
        @include m.flex(flex-start, stretch, v.$navGap);
        height: 100%;
    }



    &__link {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        font-size: v.$menuFontSize-des;
        padding: v.$navGap;
        color: v.$blackColor;
        transition: all 0.3s ease;

        &:hover {
            background-color: v.$primaryColor;
            color: v.$whiteColor;
        }
    }


}

.container {
    width: 100%;
    height: 100%;
    @include m.flex(space-between);
}

.hamburger-btn,
.close-btn {
    display: none;
}

.header-menu {
    @include m.flex($gap: v.$navGap);
}






//1280px

@media (max-width : v.$pc) {

    //헤더
    .header {
        height: v.$headerHeight-pc;

        &__logo a {
            font-size: v.$logoSize-pc;
        }

        &__link {
            font-size: v.$menuFontSize-pc;
        }
    }


}








// 1024px

@media (max-width: v.$laptop) {

    /* 햄버거 버튼 */
    .hamburger-btn {
        width: v.$ham-laptop;
        height: v.$ham-laptop;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    /* 패널 */
    .header-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: min(80vw, rem(360));
        height: 100vh;
        background: v.$whiteColor;
        box-shadow: -12px 0 1.5rem rgba(0, 0, 0, .08);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding-inline: 0;
        transform: translateX(100%);
        transition: transform .25s cubic-bezier(.2, .8, .2, 1);
        z-index: 10;
        overflow-y: auto;
    }

    .header-nav.on {
        transform: translateX(0);
    }


    .header-nav .close-btn {
        width: v.$clo-laptop;
        height: v.$clo-laptop;
        display: none;
        position: fixed;
        top: v.$closeTop-laptop;
        right: rem(20);
        align-items: center;
        justify-content: center;
    }

    .header-nav.on .close-btn {
        display: inline-flex;
    }


    .header {

        height: v.$headerHeight-laptop;

        &__menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            gap: rem(60) 0;
            width: 100%;
        }

        &__menu>li {
            position: relative;
            width: 100%;
            height: rem(80);
        }

        &__menu>li::before {
            content: "";
            position: absolute;
            inset: 0;
            background: v.$primaryColor;
            transform: scaleY(0);
            transform-origin: center;
            transition: transform .18s ease;
            z-index: 0;
        }

        &__menu>li:hover::before,
        &__menu>li.is-active::before,
        &__menu>li:focus-within::before {
            transform: scaleY(1);
        }

        &__logo a {
            font-size: v.$logoSize-laptop;
        }

        &__link {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0 rem(24);
            background: transparent !important;
            color: v.$blackColor;
            font-size: v.$menuFontSize-lap;
        }

        &__menu>li:hover &__link,
        &__menu>li.is-active &__link {
            color: v.$whiteColor;
        }
    }





}



//768px 

@media (max-width : v.$tablet) {

    //헤더
    .header {
        height: v.$headerHeight-tablet;

        &__logo a {
            font-size: v.$logoSize-tablet;
        }

        &__link {
            font-size: v.$menuFontSize-tab;
        }

        &__menu {
            gap: rem(40) 0;
        }

        &__menu>li {
            position: relative;
            width: 100%;
            height: rem(70);

        }
    }

    // hero
    .hero {
        height: v.$heroH-tab;

        &__title {
            font-size: v.$heroTitle-tab;

        }

        &__desc {
            font-size: v.$heroDesc-tab;

        }

        &__right img {
            width: v.$arrow-tab;
        }
    }
}



//480px 

@media (max-width : v.$mobile) {

    //헤더
    .header {
        height: v.$headerHeight-mobile;

        &__logo a {
            font-size: v.$logoSize-mobile;
        }

        &__link {
            font-size: v.$menuFontSize-mob;
        }

        &__menu {
            gap: rem(20) 0;
        }

        &__menu>li {
            height: rem(60);
        }
    }


    .hamburger-btn,
    .close-btn {
        width: rem(25);
        height: rem(25);
    }

    .hamburger-btn img,
    .close-btn img {
        width: 100%;
        height: 100%;
        display: block;
    }

    // hero
    .hero {
        height: v.$heroH-mob;

        &__title {
            font-size: v.$heroTitle-mob;

        }

        &__desc {
            font-size: v.$heroDesc-mob;

        }


        &__right img {
            width: v.$arrow-mob;
        }
    }
}