@use '../utils/variables' as v;
@use '../utils/mixin' as m;

.header {
    position: static;
    height: v.$headerHeight;
    z-index: v.$headerZ;

    &__logo a {
        color: v.$primaryColor;
        font-size: v.$logoSize;
    }

    &__nav {
        @include m.flex();
    }

    &__menu {
        @include m.flex(flex-start, stretch v.$navGap)
    }


    &__link {
        height: 100%;
        position: relative;
        display: block;
        font-size: v.$navFontSize;
        padding: v.$navGap;
        color: v.$blackColor;

        &:hover {
            background-color: v.$primaryColor;
            color: v.$whiteColor;
        }
    }
}

.container {
    width: 100%;
    height: 100%;
    @include m.flex(space-between);
}



.header-menu {
    @include m.flex($gap: v.$navGap);
}