@use '../utils/variables' as v;
@use '../utils/mixin' as m;
@use '../utils/function' as *;




.about-hero {
    background-image:
        url("../img/about-hero-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: v.$aboutHeroH-des;
}

.about-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.12);
}


.about-hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: v.$whiteColor;
}

.hero-txt {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.35);
}


.hero-title {
    font-size: v.$heroTitle-des;
}

.hero-sub-title {
    font-size: rem(30);
}