@use '../utils/variables' as v;
@use '../utils/mixin' as m;
@use '../utils/function' as *;



//hero 섹션
.about-hero {
    height: v.$aboutHeroH-des;
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/about-hero-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about-hero-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$whiteColor;
}


.hero-txt {
    position: relative;
    text-align: center;
}

.hero-title {
    font-size: v.$heroTitle-des;
    margin-bottom: rem(10);
}

.hero-sub-title {
    font-size: rem(30);
    font-family: v.$font-desc;
}





//info 섹션
.about-info {
    width: 100%;
    height: 100%;

    &__txt {
        padding: v.$sp-d rem(20);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: rem(14);
    }

    &__title {
        font-size: v.$introTitle-des;
        font-weight: 700;
        padding-bottom: rem(12);
    }

    &__desc {
        margin: 0 auto;
        @include m.desc-font;
        font-size: rem(20);
        font-weight: 500;
        line-height: v.$lh-desc;
    }
}

.point-info {
    color: v.$primaryColor;
}





//special 섹션
.special {
    width: 100%;
    height: 100%;
    padding: v.$sp-d rem(20);




    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    &__txt {
        text-align: center
    }

    &__eyebrow {
        @include m.eyebrow;
    }

    &__title {
        @include m.title-des;
        padding-bottom: v.$secGap-des;
    }


    &__card-title {
        font-size: rem(28);
        font-weight: 500;
        padding-bottom: rem(30);
    }

    &__point {
        color: #FF6F5E;
    }

    &__card-desc {
        font-family: v.$font-desc;
        font-size: rem(20);
        font-weight: 500;
        color: #444444;
    }



    &__card-list {
        display: flex;
        flex-direction: column;
        gap: v.$cardGap-des ;

    }



    &__card {
        width: 100%;
        display: flex;
        align-items: center;
        gap: rem(50);
    }


    &__card img {
        width: v.$specialImgW-des;
        height: v.$specialImgH-des;
        object-fit: cover;
        display: block;
        flex-shrink: 0;
    }


    &__right {
        flex-direction: row-reverse;
    }

    &__card-right-txt {
        text-align: right;
    }
}


.role {
    width: 100%;
    height: 100%;
    padding: v.$sp-d rem(20);


    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    &__txt {
        text-align: center;
    }

    &__eyebrow {
        @include m.eyebrow;
    }

    &__title {
        @include m.title-des;
        padding-bottom: v.$secGap-des;
    }


    &__list {
        display: flex;
        align-items: center;
        gap: rem(20);
    }


    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: linear-gradient(135deg, #3A78F5, #5A93FF);
        color: #fff;
        border-radius: 24px;
        padding: 50px 50px;
        width: 100%;
        height: rem(360);

    }


    &__icon {
        width: rem(180);
        height: rem(180);
        margin: 0 auto 5px;
    }


    &__card-title {
        font-size: rem(26);
        font-weight: 700;
        margin-bottom: 10px;
    }


    &__card-desc {
        font-size: rem(20);
        font-family: v.$font-desc;
        font-weight: 400;
    }
}


.vision {
    width: 100%;
    height: 100%;
    padding: v.$sp-d rem(20);


    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    &__txt {
        text-align: center;
    }



    &__eyebrow {
        @include m.eyebrow;
    }


    &__title {
        @include m.title-des;
        padding-bottom: v.$secGap-des;
    }


    &__card-wrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: rem(20);
    }


    &__vision-crad {
        flex: 1;
        // background-color: antiquewhite;
        padding: rem(100);
    }




    &__vision-title {
        font-family: v.$font-desc;
        font-size: rem(34);
        font-weight: 600;
        padding-bottom: rem(40);
    }


    &__vision-desc {
        font-family: v.$font-desc;
        font-size: rem(22);
    }

}




















//1280xp

@media (max-width : v.$pc) {

    //hero 섹션
    .about-hero {
        height: v.$aboutHeroH-pc;
    }




    .hero-title {
        font-size: v.$heroTitle-pc;
        margin-bottom: rem(10);
    }

    .hero-sub-title {
        font-size: rem(26);
    }





    //info 섹션
    .about-info {


        &__txt {
            padding: v.$sp-p 0;
            gap: rem(14);
        }

        &__title {
            font-size: v.$introTitle-pc;
            padding-bottom: rem(18);
        }

        &__desc {
            max-width: rem(1000);
            font-size: rem(20);
        }
    }


    //special 섹션
    .special {

        padding: v.$sp-p 0;


        &__eyebrow {
            @include m.eyebrow;
        }

        &__title {
            @include m.title-pc;
            padding-bottom: v.$secGap-pc;
        }


        &__card-title {
            font-size: rem(28);
            padding-bottom: rem(30);
        }


        &__card-desc {
            font-size: rem(20);
        }



        &__card-list {
            gap: v.$cardGap-pc ;

        }



        &__card {
            gap: rem(40);
        }


        &__card img {
            width: v.$specialImgW-pc;
            height: v.$specialImgH-pc;

        }

    }

}

















//1024xp

@media (max-width : v.$laptop) {

    //hero 섹션
    .about-hero {
        height: v.$aboutHeroH-lap;
    }




    .hero-title {
        font-size: v.$heroTitle-lap;
        margin-bottom: rem(6);
    }

    .hero-sub-title {
        font-size: rem(22);
    }



    //info 섹션
    .about-info {


        &__txt {
            padding: v.$sp-l 0;
            gap: rem(14);
        }

        &__title {
            font-size: v.$introTitle-lap;
            padding-bottom: rem(18);
        }

        &__desc {
            max-width: rem(940);
            font-size: rem(18);
        }
    }



    //special 섹션
    .special {

        padding: v.$sp-l 0;


        &__eyebrow {
            @include m.eyebrow;
        }

        &__title {
            @include m.title-lap;
            padding-bottom: v.$secGap-lap;
        }


        &__card-title {
            font-size: rem(26);
            padding-bottom: rem(30);
        }


        &__card-desc {
            font-size: rem(18);
        }



        &__card-list {
            gap: v.$cardGap-lap ;

        }



        &__card {
            gap: rem(30);
        }


        &__card img {
            width: v.$specialImgW-lap;
            height: v.$specialImgH-lap;

        }

    }

}


















//768xp

@media (max-width : v.$tablet) {

    //hero 섹션
    .about-hero {
        height: v.$aboutHeroH-tab;
    }




    .hero-title {
        font-size: v.$heroTitle-tab;
        margin-bottom: rem(6);
    }

    .hero-sub-title {
        font-size: rem(20);
    }



    //info 섹션
    .about-info {


        &__txt {
            padding: v.$sp-t 0;
            gap: rem(14);
        }

        &__title {
            font-size: v.$introTitle-tab;
            padding-bottom: rem(14);
        }

        &__desc {
            max-width: rem(600);
            font-size: rem(18);
        }
    }




    //special 섹션
    .special {

        padding: v.$sp-t 0;




        &__eyebrow {
            @include m.eyebrow;
        }

        &__title {
            @include m.title-tab;
            padding-bottom: v.$secGap-tab;
        }


        &__card-title {
            font-size: rem(20);
            line-height: 1.4;
            padding-bottom: rem(10);
            text-align: center;
        }


        &__card-desc {
            font-size: rem(15);
            line-height: 1.7;
            max-width: rem(420);
            margin: 0 auto;
            text-align: left;
        }



        &__card-list {
            gap: v.$cardGap-tab ;

        }



        &__card {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: rem(16);
            padding-inline: rem(20);
        }



        &__card img {
            width: 100%;
            max-width: rem(540);
        }

    }
}

















//480xp

@media (max-width : v.$mobile) {

    //hero 섹션
    .about-hero {
        height: v.$aboutHeroH-mob;
    }




    .hero-title {
        font-size: v.$heroTitle-mob;
        margin-bottom: rem(4);
    }

    .hero-sub-title {
        font-size: rem(18);
    }

    //info 섹션
    .about-info {


        &__txt {
            padding: v.$sp-l 0;
            gap: rem(14);
        }

        &__title {
            font-size: v.$introTitle-mob;
            padding-bottom: rem(18);
        }

        &__desc {
            max-width: rem(880);
            font-size: rem(16);
        }
    }
}