@use '../utils/variables' as v;
@use '../utils/mixin' as m;
@use '../utils/function' as *;

.contact-sec {
    padding: v.$sp-d;
}

.contact-form {
    width: 100%;

    &__row {
        display: flex;
        justify-content: space-between;
        gap: rem(20);
        margin-bottom: rem(28);
    }

    &__field {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: rem(4); // row 간 간격은 위에서 주니까 조금만
    }

    &__label {
        margin-bottom: rem(10);
        font-size: rem(18);
        font-weight: 500;
        display: flex; // * + 텍스트 한 줄
        align-items: center; // 세로 가운데 정렬
        gap: rem(5);
        line-height: 1;
    }

    &__required {
        display: inline-block;
        color: #2463e0;
        font-size: rem(18);
        line-height: 1;
    }

    &__input,
    &__select {
        width: 100%;
        height: rem(45);
        padding: 0 rem(15);
        border-radius: rem(4);
        border: 1px solid #e3e5ea;
        background-color: #f5f5f5;
        box-sizing: border-box;
        font-size: rem(16);

        &::placeholder {
            color: #b1b4bd;
            font-size: rem(16);
            font-family: v.$font-desc;
        }

        &:focus {
            outline: none;
            border-color: v.$primaryColor;
            background-color: #fff;
        }
    }

    &__select-wrap {
        position: relative;
    }

    &__textarea {
        width: 100%;
        height: rem(220);
        padding: rem(12);
        border-radius: rem(4);
        border: 1px solid #e3e5ea;
        background-color: #f5f5f5;
        box-sizing: border-box;
        resize: none;
        font-size: rem(16);

        &::placeholder {
            color: #b1b4bd;
            font-size: rem(16);
            font-family: v.$font-desc;
        }

        &:focus {
            outline: none;
            border-color: v.$primaryColor;
            background-color: #fff;
        }
    }

    &__bottom {
        margin-top: rem(16);
        margin-bottom: rem(8);
        display: flex;
        justify-content: flex-start;
    }

    &__agree {
        font-size: rem(14);
        color: #555;
        display: flex;
        align-items: center;
        gap: rem(6);

        input[type='checkbox'] {
            width: rem(16);
            height: rem(16);
        }
    }

    &__submit-wrap {
        display: flex;
        justify-content: flex-start;
        margin-top: rem(4);
    }

    &__btn {
        min-width: rem(220);
        height: rem(44);
        border-radius: rem(6);
        border: none;
        background-color: v.$primaryColor;
        color: #fff;
        font-size: rem(16);
        font-weight: 600;
        cursor: pointer;
    }
}