@use '../utils/variables' as v;
@use '../utils/mixin' as m;
@use '../utils/function' as *;



//히어로
.hero {
    height: v.$heroH-des;
    background: url("../img/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    &__title {
        font-size: v.$heroTitle-des;
        color: v.$whiteColor;
        padding-bottom: v.$heroTxtPad-des;
    }

    &__desc {
        font-size: v.$heroDesc-des;
        color: v.$whiteColor;
        padding-bottom: v.$heroDescPad-des;
        line-height: v.$lh-desc;
    }

    &__right img {
        width: v.$arrow-des;
    }

    &__btn {
        border: 1px solid v.$whiteColor;



    }



}


//intro
.intro {
    width: 100%;
    height: 100%;


    &__txt {
        padding: v.$sp-d 0;
        text-align: center;
    }

    &__title {
        font-size: rem(38);
        font-weight: 700;
        color: v.$primaryColor;
        padding-bottom: rem(30);
    }

    &__sub-title {
        font-size: rem(26);
        font-weight: 500;
        padding-bottom: rem(20);
    }

    &__desc {
        @include m.desc-font;
        font-size: rem(20);
        padding-bottom: rem(60);

    }


    &__btn {
        background-color: v.$blackColor;
        display: inline-flex;


        &:hover {
            background-color: v.$primaryColor;
        }
    }



}

.intro-wrap {
    display: flex;
    justify-content: center;
    align-items: center;


}


//new-section

.new {
    background: v.$surfaceAltColor;

    &__top {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: flex-start;
    }


    &__txt {
        align-self: flex-start;

    }

    &__title {
        @include m.title-des;

        &__point {
            color: v.$primaryColor
        }
    }

    &__sub-title {
        @include m.subTitle-des;
    }

    &__more {
        font-family: v.$font-desc;
        position: absolute;
        right: 0;
        font-size: rem(18);
        font-weight: 400;
        bottom: rem(-45);
        color: #5e5e5e;
    }

    &__more:hover {
        color: v.$primaryColor;
    }
}

.new-wrap {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: v.$sp-d rem(20);
    gap: v.$secGap-des;

}




.mySwiper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: rem(50);
}




//pick section
.pick {
    background: v.$whiteColor;

    &__wrap {
        padding: v.$sp-d rem(20);
        display: flex;
        flex-direction: column;
        align-items: stretch;



        &__txt {
            align-self: flex-start;
            text-align: left;
        }

        &__title {
            @include m.title-des;
        }

        &__point {
            color: v.$primaryColor;
        }

        &__sub-title {
            @include m.subTitle-des;
            padding-bottom: v.$secGap-des;
            ;
        }
    }
}

.pick-list {
    display: flex;
    flex-direction: column;
    gap: v.$cardGap-des ;
}

.pick-top-card {
    height: rem(375);
    display: flex;
    align-items: center;
    gap: rem(50);
    overflow: hidden;
    border-radius: rem(20);

}

.pick-img {
    width: v.$pickImgWidth-des;
    object-fit: cover;
    height: 100%;
    width: 100%;


}


.pick-card-title {
    font-size: rem(26);
    font-weight: 700;
    color: v.$primaryColor ;
    padding-bottom: rem(30);
}

.pick-card-desc {
    font-family: v.$font-desc;
    font-size: rem(20);
    padding-bottom: rem(60);
}

.pick-btn {
    background: #000000;
}

.pick-btn:hover {
    background: v.$primaryColor;
}


.pick-bottom-card {
    display: flex;
    height: rem(375);
    align-items: center;
    justify-content: flex-start;
    gap: rem(50);
    flex-direction: row-reverse;
    overflow: hidden;
}

.pick-bottom-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}




//pick 스타일
.run-style {
    background: v.$surfaceAltColor;


    &__wraps {
        padding: v.$sp-d rem(20);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    &__txt {
        text-align: left;




        &__title {
            font-size: v.$titleSize-des;
            font-weight: v.$titleWeight;
        }


        &__sub-title {
            font-size: v.$subTitle-des;
            font-weight: v.$subTitleWeight;
            padding-bottom: v.$secGap-des;

        }


        &__ponit {
            color: v.$primaryColor;
        }
    }
}




















// 1280

@media (max-width : v.$pc) {


    //히어로
    .hero {
        height: v.$heroH-pc;

        &__title {
            font-size: v.$heroTitle-pc;
            padding-bottom: v.$heroTxtPad-pc;


        }

        &__desc {
            font-size: v.$heroDesc-pc;
            padding-bottom: v.$heroDescPad-pc;


        }

        &__right img {
            width: v.$arrow-pc;
        }
    }



    //intro
    .intro {



        &__txt {
            padding: v.$sp-p 0;

        }

        &__title {
            font-size: rem(34);
            padding-bottom: rem(25);

        }

        &__sub-title {
            font-size: rem(22);
            padding-bottom: rem(16);

        }

        &__desc {
            font-size: rem(18);
            padding-bottom: rem(50);


        }

    }

    //new-section

    .new {


        &__title {
            @include m.title-pc;
        }

        &__sub-title {
            @include m.subTitle-pc;
        }

        &__more {
            font-size: rem(16);
            bottom: rem(-45);

        }

        &__more:hover {
            color: v.$primaryColor;
        }
    }

    .new-wrap {
        gap: v.$secGap-pc;
        padding: v.$sp-p rem(20);
    }





    //pick section
    .pick {

        &__wrap {
            padding: v.$sp-p rem(20);


            &__title {
                @include m.title-pc;
            }


            &__sub-title {
                @include m.subTitle-pc;
                padding-bottom: v.$secGap-pc;
                ;
            }
        }
    }

    .pick-list {
        gap: v.$cardGap-pc ;
    }

    .pick-top-card {
        height: rem(370);
        gap: rem(40);
        overflow: hidden;

    }

    .pick-img {
        width: v.$pickImgWidth-pc;
    }


    .pick-card-title {
        font-size: rem(28);
        padding-bottom: rem(30);
    }

    .pick-card-desc {

        font-size: rem(20);
        padding-bottom: rem(60);
    }





    .pick-bottom-card {
        gap: rem(40);
        height: rem(370);
        overflow: hidden;
    }

}










// 1024px

@media (max-width: v.$laptop) {

    // hero
    .hero {
        height: v.$heroH-lap;

        &__title {
            font-size: v.$heroTitle-lap;
            padding-bottom: v.$heroTxtPad-lap;

        }

        &__desc {
            font-size: v.$heroDesc-lap;
            padding-bottom: v.$heroDescPad-lap;

        }

        &__right img {
            width: v.$arrow-lap;
        }


    }



    //intro
    .intro {



        &__txt {
            padding: v.$sp-l 0;

        }

        &__title {
            font-size: rem(30);
            padding-bottom: rem(20);

        }

        &__sub-title {
            font-size: rem(20);
            padding-bottom: rem(12);

        }

        &__desc {
            font-size: rem(16);
            padding-bottom: rem(40);


        }

    }

    //new-section

    .new {


        &__title {
            @include m.title-lap;
        }

        &__sub-title {
            @include m.subTitle-lap;
        }

        &__more {
            font-size: rem(16);
            bottom: rem(-35);

        }

    }

    .new-wrap {
        gap: v.$secGap-lap;
        padding: v.$sp-l rem(20);

    }





    //pick section
    .pick {

        &__wrap {
            padding: v.$sp-l rem(20);


            &__title {
                @include m.title-lap;
            }


            &__sub-title {
                @include m.subTitle-lap;
                padding-bottom: v.$secGap-lap;
                ;
            }
        }
    }

    .pick-list {
        gap: 0;
    }

    .pick-top-card {
        height: rem(320);
        gap: rem(40);

    }

    .pick-img {
        width: v.$pickImgWidth-lap;
    }


    .pick-card-title {
        font-size: rem(24);
        padding-bottom: rem(25);
    }

    .pick-card-desc {

        font-size: rem(18);
        padding-bottom: rem(50);
    }



    .pick-bottom-card {
        gap: rem(40);
        height: rem(320);
    }


}










//768px 

@media (max-width : v.$tablet) {


    // hero
    .hero {
        height: v.$heroH-tab;

        &__title {
            font-size: v.$heroTitle-tab;
            padding-bottom: v.$heroTxtPad-tab;

        }

        &__desc {
            font-size: v.$heroDesc-tab;
            padding-bottom: v.$heroDescPad-tab;

        }

        &__right img {
            width: v.$arrow-tab;
        }
    }


    //intro
    .intro {



        &__txt {
            padding: v.$sp-t 0;

        }

        &__title {
            font-size: rem(26);
            padding-bottom: rem(15);

        }

        &__sub-title {
            font-size: rem(20);
            padding-bottom: rem(10);

        }

        &__desc {
            font-size: rem(14);
            padding-bottom: rem(30);


        }

    }


    //new-section

    .new {


        &__title {
            @include m.title-tab;
        }

        &__sub-title {
            @include m.subTitle-tab;
        }

        &__more {
            font-size: rem(14);
            bottom: rem(-20);

        }

    }

    .new-wrap {
        gap: v.$secGap-tab;
        padding: v.$sp-t rem(20);

    }



    //pick section
    .pick {

        &__wrap {
            padding: v.$sp-t rem(20);


            &__title {
                @include m.title-tab;
            }


            &__sub-title {
                @include m.subTitle-tab;
                padding-bottom: v.$secGap-tab;
                ;
            }
        }
    }

    .pick-list {
        gap: 0;
    }

    .pick-top-card {
        height: rem(260);
        gap: rem(40);

    }

    .pick-img {
        width: v.$pickImgWidth-tab;
    }


    .pick-card-title {
        font-size: rem(20);
        padding-bottom: rem(25);
    }

    .pick-card-desc {

        font-size: rem(16);
        padding-bottom: rem(30);
    }



    .pick-bottom-card {
        gap: rem(40);
        height: rem(260);
    }
}

















//360px 

@media (max-width : v.$mobile) {


    // hero
    .hero {
        height: v.$heroH-mob;


        &__title {
            font-size: v.$heroTitle-mob;
            padding-bottom: v.$heroTxtPad-mob;


        }

        &__desc {
            font-size: v.$heroDesc-mob;
            padding-bottom: v.$heroDescPad-mob;


        }


        &__right img {
            width: v.$arrow-mob;
        }
    }

    //intro
    .intro {



        &__txt {
            padding: v.$sp-m 0;

        }

        &__title {
            font-size: rem(22);
            padding-bottom: rem(10);

        }

        &__sub-title {
            font-size: rem(16);
            padding-bottom: rem(6);

        }

        &__desc {
            font-size: rem(10);
            padding-bottom: rem(20);


        }

    }

    //new-section

    .new {


        &__title {
            @include m.title-mob;
        }

        &__sub-title {
            @include m.subTitle-mob;
        }

        &__more {
            font-size: rem(8);
            bottom: rem(-15);

        }

    }

    .new-wrap {
        gap: v.$secGap-mob;
        padding: v.$sp-m rem(20);

    }

    .mySwiper {
        padding-bottom: rem(40);
    }





    //pick section
    .pick {

        &__wrap {
            padding: v.$sp-m rem(20);


            &__title {
                @include m.title-mob;
            }


            &__sub-title {
                @include m.subTitle-mob;
                padding-bottom: v.$secGap-mob;
                ;
            }
        }
    }

    .pick-list {
        gap: v.$cardGap-mob ;
    }


    .pick-top-card,
    .pick-bottom-card {
        position: relative;
        height: rem(200);
        gap: rem(40);
        border-radius: rem(15);
        overflow: hidden;
        display: block;
    }


    .pick-top-txt,
    .pick-bottom-txt {
        position: absolute;
        inset: rem(25);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
    }





    .pick-img {
        width: v.$pickImgWidth-mob;
        width: 100%;
        height: 100%;
    }


    .pick-card-title {
        color: v.$whiteColor;
        padding-bottom: rem(5);
        font-size: rem(14);

    }

    .pick-card-desc {

        font-size: rem(10);
        color: v.$whiteColor;
        padding-bottom: rem(50);
    }


    .pick-btn {
        font-weight: 500;
        align-self: flex-end;
        margin-top: auto;
        background: v.$primaryColor;
        color: v.$whiteColor;
    }






}