@use '../utils/variables' as v;
@use '../utils/mixin' as m;
@use '../utils/function' as *;



//히어로
.hero {
    height: v.$heroH-des;
    background: url("../img/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    &__title {
        font-size: v.$heroTitle-des;
        color: v.$whiteColor;
        padding-bottom: v.$heroTxtPad-des;
    }

    &__desc {
        font-size: v.$heroDesc-des;
        color: v.$whiteColor;
        padding-bottom: v.$heroDescPad-des;
        line-height: v.$lh-desc;
    }

    &__right img {
        width: v.$arrow-des;
    }

    &__btn {
        border: 1px solid v.$whiteColor;



    }



}


//intro
.intro {
    width: 100%;
    height: 100%;


    &__txt {
        padding: v.$sp-d 0;
        text-align: center;
    }

    &__title {
        font-size: rem(38);
        font-weight: 700;
        color: v.$primaryColor;
        padding-bottom: rem(30);
    }

    &__sub-title {
        font-size: rem(26);
        font-weight: 500;
        padding-bottom: rem(20);
    }

    &__desc {
        @include m.desc-font;
        font-size: rem(20);
        padding-bottom: rem(60);

    }


    &__btn {
        background-color: v.$blackColor;
        display: inline-flex;


        &:hover {
            background-color: v.$primaryColor;
        }
    }



}

.intro-wrap {
    display: flex;
    justify-content: center;
    align-items: center;


}


//new-section

.new {
    background: v.$surfaceAltColor;

    &__top {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: flex-start;
    }


    &__txt {
        align-self: flex-start;

    }

    &__title {
        @include m.title-des;

        &__point {
            color: v.$primaryColor
        }
    }

    &__sub-title {
        @include m.subTitle-des;
    }

    &__more {
        font-family: v.$font-desc;
        position: absolute;
        right: 0;
        font-size: rem(18);
        font-weight: 400;
        bottom: rem(-45);
        color: #5e5e5e;
    }

    &__more:hover {
        color: v.$primaryColor;
    }
}

.new-wrap {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: v.$sp-d rem(20);
    gap: v.$secGap-des;

}




.mySwiper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: rem(50);
}




//pick section
.pick {
    background: v.$whiteColor;

    &__wrap {
        padding: v.$sp-d rem(20);
        display: flex;
        flex-direction: column;


        &__txt {
            align-self: flex-start;
            text-align: left;
        }
    }
}



















// 1280

@media (max-width : v.$pc) {


    //히어로
    .hero {
        height: v.$heroH-pc;

        &__title {
            font-size: v.$heroTitle-pc;
            padding-bottom: v.$heroTxtPad-pc;


        }

        &__desc {
            font-size: v.$heroDesc-pc;
            padding-bottom: v.$heroDescPad-pc;


        }

        &__right img {
            width: v.$arrow-pc;
        }
    }



    //intro
    .intro {



        &__txt {
            padding: v.$sp-p 0;

        }

        &__title {
            font-size: rem(34);
            padding-bottom: rem(25);

        }

        &__sub-title {
            font-size: rem(22);
            padding-bottom: rem(16);

        }

        &__desc {
            font-size: rem(18);
            padding-bottom: rem(50);


        }

    }

    //new-section

    .new {


        &__title {
            @include m.title-pc;
        }

        &__sub-title {
            @include m.subTitle-pc;
        }

        &__more {
            font-size: rem(16);
            bottom: rem(-45);

        }

        &__more:hover {
            color: v.$primaryColor;
        }
    }

    .new-wrap {
        gap: v.$secGap-pc;
        padding: v.$sp-p rem(20);
    }

}










// 1024px

@media (max-width: v.$laptop) {

    // hero
    .hero {
        height: v.$heroH-lap;

        &__title {
            font-size: v.$heroTitle-lap;
            padding-bottom: v.$heroTxtPad-lap;

        }

        &__desc {
            font-size: v.$heroDesc-lap;
            padding-bottom: v.$heroDescPad-lap;

        }

        &__right img {
            width: v.$arrow-lap;
        }


    }



    //intro
    .intro {



        &__txt {
            padding: v.$sp-l 0;

        }

        &__title {
            font-size: rem(30);
            padding-bottom: rem(20);

        }

        &__sub-title {
            font-size: rem(20);
            padding-bottom: rem(12);

        }

        &__desc {
            font-size: rem(16);
            padding-bottom: rem(40);


        }

    }

    //new-section

    .new {


        &__title {
            @include m.title-lap;
        }

        &__sub-title {
            @include m.subTitle-lap;
        }

        &__more {
            font-size: rem(16);
            bottom: rem(-35);

        }

    }

    .new-wrap {
        gap: v.$secGap-lap;
        padding: v.$sp-l rem(20);

    }
}










//768px 

@media (max-width : v.$tablet) {


    // hero
    .hero {
        height: v.$heroH-tab;

        &__title {
            font-size: v.$heroTitle-tab;
            padding-bottom: v.$heroTxtPad-tab;

        }

        &__desc {
            font-size: v.$heroDesc-tab;
            padding-bottom: v.$heroDescPad-tab;

        }

        &__right img {
            width: v.$arrow-tab;
        }
    }


    //intro
    .intro {



        &__txt {
            padding: v.$sp-t 0;

        }

        &__title {
            font-size: rem(26);
            padding-bottom: rem(15);

        }

        &__sub-title {
            font-size: rem(20);
            padding-bottom: rem(10);

        }

        &__desc {
            font-size: rem(14);
            padding-bottom: rem(30);


        }

    }


    //new-section

    .new {


        &__title {
            @include m.title-tab;
        }

        &__sub-title {
            @include m.subTitle-tab;
        }

        &__more {
            font-size: rem(14);
            bottom: rem(-20);

        }

    }

    .new-wrap {
        gap: v.$secGap-tab;
        padding: v.$sp-t rem(20);

    }
}

















//360px 

@media (max-width : v.$mobile) {


    // hero
    .hero {
        height: v.$heroH-mob;
        // background: url("../img/hero-mob-bg.png");

        &__title {
            font-size: v.$heroTitle-mob;
            padding-bottom: v.$heroTxtPad-mob;


        }

        &__desc {
            font-size: v.$heroDesc-mob;
            padding-bottom: v.$heroDescPad-mob;


        }


        &__right img {
            width: v.$arrow-mob;
        }
    }

    //intro
    .intro {



        &__txt {
            padding: v.$sp-m 0;

        }

        &__title {
            font-size: rem(22);
            padding-bottom: rem(10);

        }

        &__sub-title {
            font-size: rem(16);
            padding-bottom: rem(6);

        }

        &__desc {
            font-size: rem(10);
            padding-bottom: rem(20);


        }

    }

    //new-section

    .new {


        &__title {
            @include m.title-mob;
        }

        &__sub-title {
            @include m.subTitle-mob;
        }

        &__more {
            font-size: rem(8);
            bottom: rem(-15);

        }

    }

    .new-wrap {
        gap: v.$secGap-mob;
        padding: v.$sp-m rem(20);

    }

    .mySwiper {
        padding-bottom: rem(40);
    }



}